.icon::before {
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  display: block;
  height: 1.5rem;
  width: 1.5rem;
}

.icon-discord::before {
  background-image: url(../../assets/icons/discord.svg);
}

.icon-github::before {
  background-image: url(../../assets/icons/mark-github.svg);
}

.icon-linkedin::before {
  background-image: url(../../assets/icons/linkedin.svg);
}

.icon-social::before {
  background-image: url(../../assets/icons/feed-discussion.svg);
}

.icon-web::before {
  background-image: url(../../assets/icons/globe.svg);
}

.icon-youtube::before {
  background-image: url(../../assets/icons/youtube.svg);
}
